page-home {
    .urgent-notification .toast-message:before {
        content: '\f267';
        color: black;
        display: inline-block;
        font-family: "Ionicons";
        font-style: normal;
        font-weight: bolder;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        padding-right: 10px;
        font-size: 2rem;
        }
}
